os: linux
language: cpp
sudo: required
branches:
  only:
  - cognition.main
services:
- docker
addons:
  apt:
    update: true
env:
  global:
  - COMMIT=${TRAVIS_COMMIT::7}
  - DOCKERHUB='ziwei000'
  # to cut out the name of repository
  - IMAGE=`echo ${TRAVIS_REPO_SLUG#*/}`  
  # DOCKER_USER
  # DOCKER_PASS
  - secure: GU5aPmR6j2pGpY6Z9irFUWzc3YmmxSpzM1hanWAYgB8BZFFXwgC9NBGl58V5OOiBK6g0qTkJ7Fhm7xsh9fjGu2mVHHpFcw6Dic3TzIGBZ69KBHB6T4P5QqGIeKgZps3hHMQiq0kWbwJG+TSD3BrFEtxoH7VGnXb8a5s2wrX0SGy+w+gAA0TmUvlzO/QQqzC5+whi6vxyVGKGetih3vVGP/Hovkq5K00nVW+zL3tAnMj8WsLVlXpWd6ROS5bTbw9KhjvROOAxZOiY9yr9HjV98q46KS8ZMjAdPW0c1byNnPfvqY+6QdyZ6pp44IGnLlQ88qFUl7Iobvec/cZ5gtDxG/mQHJh4FqEsXwnL8vivUbVC3O4oGWU7887whMgFIUuLPXLy8YbS3Zn8ZzxTO/v9gEl3ynmtFyGwD3NLedAcaYVOQLvpdkm41viQfkvdMmrK/i5u4oLOedLJxBxaV3gkWc//lu57jCY1Ot5JJi/3sajC3odrPNWlxeggPPT6baEtFQe2hTB5MDIZIGwLPj+Z+6U6QGc4528eDjWBTzF64RvYJni/qmxxxbHlXEa65zUwSQKzS7c7VASYQpOrMtWn1nGophN6I9nzQArdBUjLTYMGdXCfCseCwVrIzLNnj5I0iozo80dIxROeCIMDHPRFsMcaxikd4sinzBtMEsPtcpA=
  - secure: x1AypIAku76rthaqSsMtWskEyp5i97pj1pDbXTIpA/uxU1e/Ine8PIpxqS2fqfIAQ8WAqZzPA7mp2aG1Wm8rPccyWGUQTKeSvICTJ/HgtTJ1J9DLqMbWR3HaLKb7mJl1R2NKU01GTNTThC4JXcDNcPhpgYBqnPJrjTNqubNZjtP3nfgzDzSi1dxuNt1y0+DKrarX7lK2+bLeMp58SON7iFOYik2fQrhOhbe6LmJJQMS5vlwH7yxq412HObdvfWOP+ajmoRCkBIlDcYGNV7IuuLc09d3j8aJ59mbvq88JLz302zORFyfepD3DsRukgmDaQKmeUhVykW0yE3r3755NBRCrU5BRVZZS1IT4xolvlxNNfqjRQFF9xGVfQyqwwDHG8NnpqeOvzS6r7vtONZsnessnstcbghFfKqODE4aZWQlivr3098hAhDhn3Gso2aUPR94ypooKRXzMY/CovfO4tsvv6a1Uf1RtnEvJ73l6+qPM8U/X2OFqbs3TFNRrCF9qbMyhotBtT7E5r67y5NriDqEW51vq7DiEF5i9KcZ7zg9rugZSSlTqdq2EXr9MqwSzndPaYVGvp1aGQNuT0XneT0L1dyuGV4k3Cc5S6uFzub5i0kXEFiugtK0r/mQHt7e6ZMbbM7Ut2Vp0a7LlRRt1QHsKSnLTWLXh3oE26nRcUPA=
install:
- make buildComplete creatDockerImage
- docker tag seresearch/opendlv-cfsd18-on-opendlv-core-on-opendavinci-on-base:latest ${IMAGE}:${COMMIT}
#- docker build -f Dockerfile.amd64 -t ${IMAGE}:${COMMIT} .
#- docker run -d --name test ${IMAGE}:${COMMIT} communication-test-receive --cid=112
script: skip
#- docker ps | grep -q test
after_success:
- docker --version
- echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
- docker tag ${IMAGE}:${COMMIT} ${DOCKERHUB}/${IMAGE}:${COMMIT}
- docker push ${DOCKERHUB}/${IMAGE}:${COMMIT}
notifications:
  email:
    on_success: never
    on_failure: never
